<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-image: linear-gradient(to right,indigo,violet);">
<h3>
1.alt.atheism<br>
2.comp.graphics<br>
3.comp.os.ms-windows.misc<br>
4.comp.sys.ibm.pc.hardware<br>
5.comp.sys.mac.hardware<br>
6.comp.windows.x<br>
7.misc.forsale<br>
8.rec.autos<br>
9.rec.motorcycles<br>
10.rec.sport.baseball<br>
11.rec.sport.hockey<br>
12.sci.crypt<br>
13.sci.electronics<br>
14.sci.med<br>
15.sci.space<br>
16.soc.religion.christian<br>
17.talk.politics.guns<br>
18.talk.politics.mideast<br>
19.talk.politics.misc<br>
20.talk.religion.misc<br>
    </h3>

<h1>Your Classified Class is:{{classified_cat.category}} and accuracy is {{classified_cat.acc}}</h1>

<h1> <a href="{{classified_cat.block}}" style="color:black">{{classified_cat.block}}</a></h1>

</body>
</html>